.bg-img {
    background-image: url('../public/login-and-password-concept-3d-illustration-computer-and-account-login-and-password-form-page-on-screen-sign-in-to-account-user-authorization-login-authentication-page-concept-png.webp');
    /* background-size: cover; */
    background-position: left;
    background-repeat: no-repeat;


}